<launch>

	<arg name="usb_port" default="/dev/ttyUSB0" />
	<arg name="speed_angular" default="0.2" />
	<arg name="speed_linear" default="0.05" />
	<arg name="tcp" default="tool0" />

	<!--> Start UR3 BringUp -->
	<include file="$(find ur_robot_driver)/launch/ur3e_bringup.launch" >
	    <arg name="robot_ip" value="192.168.1.1"/>
	    <arg name="kinematics_config" value="$(find ur_calibration)/etc/ur3_robot_calibration.yaml" />
	  </include>
	  
	<!--> Start Rviz -->	  
  	<include file="$(find ur3_gripper_moveit_config)/launch/demo_real_ur3.launch" />
  	
  	<!--> Start Spacenav (3D-Maus) Node -->
	<include file="$(find spacenav_node)/launch/classic.launch" />
  	
  	<!--> Start Gripper Publisher -->
  	<node pkg="robotiq_gripper" name="position_gripper" type="position_gripper.py" output="screen">
		<param name="usb_port" type="string" value="$(arg usb_port)"/>
	</node>
	
	<!--> Start Mouse Control -->
	<node pkg="space_mouse_control" name="execute_xyzTrajectories_with_gripper" type="execute_xyzTrajectories_with_gripper.py" output="screen">
		<param name="speed_angular" type="double" value="$(arg speed_angular)"/>
		<param name="speed_linear" type="double" value="$(arg speed_linear)"/>
		<param name="tcp" type="string" value="$(arg tcp)"/>
	</node>
    	
</launch>
